In [1]:
import pandas as pd
import os
from datetime import date
raw_data = pd.read_csv("/opt/ml/input/data/FE_total_data.csv")
raw_data['wday'] = 0
raw_data['weekNum'] = 0
raw_data['hour'] = 0
raw_data.head()

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,dataset,wday,weekNum,hour
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,1,0,0,0
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,1,0,0,0
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,1,0,0,0
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,1,0,0,0
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,1,0,0,0

In [19]:
def wday(time):
    return pd.Timestamp(time).dayofweek
def weekNum(s):
    y=int(s.split(' ')[0].split('-')[0])
    m=int(s.split(' ')[0].split('-')[1])
    d=int(s.split(' ')[0].split('-')[2])
    return date(y,m,d).isocalendar()[1]
def hour(s):
    h=s.split(' ')[1].split(':')[1]
    return int(h)


raw_data['wday'] = raw_data['Timestamp'].apply(wday)
raw_data['weekNum'] = raw_data["Timestamp"].apply(weekNum)
raw_data['hour'] = raw_data["Timestamp"].apply(hour)
raw_data.head()

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,dataset,wday,weekNum,hour
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,1,1,13,17
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,1,1,13,17
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,1,1,13,17
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,1,1,13,17
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,1,1,13,17

In [20]:
os.makedirs('/opt/ml/input/data/FE/', exist_ok=True)
raw_data.to_csv('/opt/ml/input/data/FE/wday.csv', columns=["userID", "assessmentItemID", "testId", "answerCode", "Timestamp", "KnowledgeTag", "dataset", "wday"], index=False)
raw_data.to_csv('/opt/ml/input/data/FE/weekNum.csv', columns=["userID", "assessmentItemID", "testId", "answerCode", "Timestamp", "KnowledgeTag", "dataset", "weekNum"], index=False)
raw_data.to_csv('/opt/ml/input/data/FE/hour.csv', columns=["userID", "assessmentItemID", "testId", "answerCode", "Timestamp", "KnowledgeTag", "dataset", "hour"], index=False)